.user_ship_edit_page {

    .positionning_block {
        height: 400px;
        text-align: center;

        &_images {
            display: flex;
            justify-content: space-between;

            .positionning_block_image {
                height: 100px;
                width: 100px;
                margin: 0 16px;
                position: relative;
            }

            .positionning_block__move_me {
                position: absolute;
                height: 60px;
                width: 60px;
                left: 60px;
                top: 80px;
                z-index: 2;
                background-color: #0098b2;
            }
        }
    }
}
