{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Hello !</h1>
    <!--
        TODO - Mettre le formulaire ici
        TODO - Ajouter un petit texte briefing/ambiance qui va bien
    -->
</div>
{% endblock %}
