{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class ="jumbotron">
        Placer le formulaire de recherche ici
        (min_note, et max_weight)
    </div>
    <div class ="cardAlign">
        Afficher tous les utilisateurs ici
    </div>
    <div class ="paginationContainer">
        <div class ="pagination">
            Afficher la pagination ici
        </div>
    </div>
</div>
{% endblock %}