{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class ="jumbotron">
        <div class ="container">
            {{form_start(form)}}
            <div class ="form-row">
                <div class ="col">
                    Note minimale:{{ form_row(form.min_note) }}
                </div>
                <div class ="col">
                    Note maximale:{{ form_row(form.max_note) }}
                </div>
                <div class ="col">
                    <button class ="btn btn-primary">
                        Rechercher
                    </button>
                </div>
            </div>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}
