{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Mon vaisseau</h1> <!-- TODO - Ajouter un style font-size: 50px, et color: red-->
    <h3>
        Votre vaisseau, maître !
        <!-- TODO - border: dashed, 4px, #0000FF -->
    </h3>
    <p>
        Votre aventure commence ici, voici votre vaisseau, il manque quelques détails comme le <b>name</b>,
        le <b>type</b>, et la <b>taille</b>...
        Modifier le fichier `/templates/user/ship.html.twig` pour afficher ces propriétés.
        Exemple : Pour afficher le nom, écrire `{{ship.name}}`
    </p>
    <div>
        {{ ship.price }}
    </div>
    <!--
        TODO - Ici : Créer une structure IF qui contrôle la taille du vaisseau. Si le vaisseau est
        plus grand que 100m, afficher "ça c'est du grand vaisseau !", sinon, afficher "ça c'est du mini vaisseau !"
    -->
    <a href="{{ path('user.ship.edit')}}">Modifier</a>
</div>
{% endblock %}
