{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="exercice">
            <h2>Exercice : Remettre les pendules à l'heure</h2>
            <h1>Mon vaisseau</h1>
            <h3 class="h3special">
                Votre vaisseau, maître !
            </h3>
            <h3>Je suis un h3 sans border MOI !</h3>
        </div>
        <div class="exercice">
            <h2>Exercice : Afficher les bonnes informations</h2>
            <p>
                Voici votre vaisseau, il manque quelques détails comme le <b>name</b>,
                le <b>type</b>, et la <b>taille</b>...
                Modifier le fichier `/templates/user/ship.html.twig` pour afficher ces propriétés.
                Exemple : Pour afficher le nom, écrire  { { ship.name } }  en retirant les espaces
            </p>
            <div>
                {{ ship.price }}
            </div>
            {% if ship.taille > 100 %}
                ça c'est du grand vaisseau !
            {% else %}
                ça c'est du mini vaisseau !
            {% endif %}
            <a href="{{ path('user.ship.edit')}}">Modifier</a>
        </div>
        <div class="exercice">
            <h2>Exercice : Afficher les bonnes informations 2</h2>
            <p>
               Ce vaisseau appartient à quelqu'un. Afficher le contenu de user.name mais en ayant pris soin de vous l'être
                envoyé depuis le contrôleur !
            </p>
            <div>
                "Nom de l'utilisateur ici" Aime les frites
            </div>
            <div>
                <p>Afficher tous les canons qui appartienent au vaisseau dans une boucle for</p>
            </div>
        </div>
    </div>
    <a class="hot-guy" href="{{ path('heating') }}">
        <img class="img-thumbnail" src="{{asset('images/chauffage/froid.jpeg')}}">
    </a>
{% endblock %}
